#root {
  height: 100%;
}

.logo {
  position: absolute;
  left: 1.6%;
  right: 86.32%;
  top: 1.95%;
  bottom: 93.75%;
}

.form {
  position: absolute;
  left: 3.26%;
  right: 44.03%;
  top: 15.92%;
  bottom: 73.44%;
}

.todos {
  position: absolute;
  left: 1%;
  right: 44.24%;
  top: 33.4%;
  bottom: 55.96%;
  width: 723px;
}

.searchConteiner {
  position: absolute;
  left: 12%;
  right: 44.51%;
  top: 2.15%;
  bottom: 93.95%;

  width: 552px;
  height: 40px;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.search {
  position: absolute;
  left: 6.07%;
  right: 44.51%;
  top: 6%;
  bottom: 93.95%;

  width: 513px;
  height: 33px;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
  border: 0px;

  font-size: 16px;
  line-height: normal;
}

.searchIcon {
  position: absolute;
  left: 1.07%;
  right: 44.51%;
  top: 37%;
  bottom: 93.95%;
}

.filter {
  position: absolute;
  left: 3.06%;
  right: 44.24%;
  top: 9.28%;
  bottom: 85.84%;
  width: 759;
}

ul {
  list-style-type: none;
}

.starIconHidden {
  visibility: hidden;
}

.starIconVisible {
  position: relative;
  top: 10px;
  left: 2%;
  visibility: visible;
}

.liImp {
  position: relative;
  top: 10%;
  left: 2%;
  font-weight: bold;
  font-size: 16px;
}

.liNorm {
  position: relative;
  top: 10%;
  left: 2%;
  font-weight: normal;
  font-size: 16px;
}

.todoSt {
  margin-left: 10px;
}

.done {
  position: relative;
  top: 10%;
  left: 2%;
  text-decoration: line-through;
  font-size: 16px;
}

.activeBut {
  background-color: blue;
  width: 20%;
  height: 30px;
  border-color: #2F80ED;
  border-left: none;
  border-right: 0;
  border-bottom: 0;
  background-color: Transparent;
  cursor:pointer;
  outline: none;
}

.nwTask {
  font-size: 12px;
  color: #706E6B;
}

.areaInput {
  width: 710px;
  height: 90px;
  resize: none;
  font-size: 16px;
}

.filtreBut {
  width: 20%;
  height: 30px;
  padding: 0;
  border: none;
  border-color: #E2E2E2;
  background-color: Transparent;
  cursor:pointer;
  outline: none;
}

.todosConteiner{
  width: 723px;
  height: 109px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.todosConteiner:hover .important{
  opacity: 1;
}

.todosConteiner:hover .notImportant{
  opacity: 1;
}

.todosConteiner:hover .deleteButton{
  opacity: 1;
}

.todosConteiner:hover {
  border: 1px solid rgba(47, 128, 237, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.important {
  background: rgb(86, 199, 86);
  width: 183px;
  height: 36px;
  border: none;
  cursor:pointer;
  outline: none;
  border-radius: 50px;
  color: white;
  opacity: 0;
  position: relative;
  bottom: 4.5%;
  left: 57%;
}

.addBut {
  width: 190px;
  height: 36px;
  border: none;
  background: #2F80ED;
  color: white;
  cursor:pointer;
  position: relative;
  left: 52%;
}

.notImportant {
  background: rgb(88, 94, 88);
  width: 183px;
  height: 36px;
  border: none;
  opacity: 0;
  cursor:pointer;
  outline: none;
  border-radius: 50px;
  color: white;
  position: relative;
  bottom: 4.5%;
  left: 57%;
}

.deleteButton {
  border: none;
  background-color: Transparent;
  cursor:pointer;
  outline: none;
  opacity: 0;
  position: relative;
  top: 10px;
  left: 92%;
}